/* Universal */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

:root {
  --primary-white: #fff;
  --primary-red: #FF5349;
  --primary-gray: #FAFAFA;
  --primary-dark: #696969;
  --primary-black: #000;
}

body {
  font-family: 'Josefin', sans-serif !important;
  font-size: 27px;
  color: var(--primary-dark);
  padding-top: 12px;
}

h1 {
  font-family: 'Pinyon Script', cursive, sans-serif;
}

/* Navbar Links */

nav {
  z-index: 2;
}

nav h1 {
  font-family: 'Pinyon Script', cursive, sans-serif;
  font-size: 27px;
  color: var(--primary-dark);
  padding-top: 12px;
}

nav a.nav-link {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: .5px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 11px;
  margin-left: 11px;
  color: var(--primary-dark) !important;
  border-top: 4px solid var(--primary-white);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 4px solid var(--primary-red);
}

.navbar-nav > li > a:hover {
  border-top: 4px solid var(--primary-red);
}

/* Header */

.header-wrapper {
  position: relative;
  background: url(wmh-h2o-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main h1 {
  font-family: 'Pinyon Script', cursive, sans-serif;
  font-weight: 800;
  font-size: 58px;
  color: var(--primary-red);
  text-shadow: 0 0 6px #fff;
}

@media(max-width: 768px) {
  .main h1 {
    font-family: 'Pinyon Script', cursive, sans-serif;
    font-size: 68px;
    color: var(--primary-red);
    text-shadow: 0 0 8px #fff;
  }
}

/* Typed */

.typed-text {
  font-size: 27px;
  color: var(--primary-white);
}

.btn-main {
  font-size: 16px;
  border: 1px solid var(--primary-white);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 50px;
  padding: 12px 50px 12px 50px;
  color: var(--primary-white);
  margin-top: 16px;
}

.btn-main:hover {
  text-decoration: none;
  border: 1px solid var(--primary-red);
  background-color: var(--primary-red);
  color: var(--primary-white);
  transition: .5s ease-in-out;
}

@media(max-width: 768px) {
  .typed-text {
    font-size: 30px;
    color: var(--primary-white);
  }

  .btn-main {
    font-size: 18px;
    border: 1px solid var(--primary-white);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 50px;
    padding: 12px 100px 12px 100px;
    color: var(--primary-white);
    margin-top: 16px;
  }
  
  .btn-main:hover {
    text-decoration: none;
    border: 1px solid var(--primary-red);
    background-color: var(--primary-red);
    color: var(--primary-white);
    transition: .5s ease-in-out;
  }
}

/* Particles */

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/* About */

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-id {
  width: 26rem;
  border-radius: 50%;
  padding: .75rem;
  border: 2px solid var(--primary-red);
}

.about-heading {
  color: var(--primary-red);
}

@media(max-width: 768px) {
  .profile-id {
    width: 18rem;
  }

  .about-heading {
    font-family: 'Pinyon Script', cursive, sans-serif;
    font-size: 42px;
    color: var(--primary-red);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Portfolio */

.portfolio-heading {
  font-family: 'Pinyon Script', cursive, sans-serif;
  font-size: 42px;
  color: var(--primary-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-wrapper {
  background: var(--primary-gray);
  padding: 3rem 0;
}

.portfolio-img {
  width: 15rem;
  border: 1px solid var(--primary-white);
  padding: 7px;
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}

/* Overflow */

.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 15rem;
  height: 100%;
  top: 0;
  border: 2px solid var(--primary-white);
  cursor: pointer;
}

.portfolio-image-box:hover .overflow {
  opacity: 55%;
  transition: .4s ease-in-out;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--primary-white);
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 90%;
  transition: .4s ease-in-out;
  cursor: pointer;
}

/* Overflow Popupbox */

.portfolio-image-popupbox {
  width: 45rem;
  padding: 0 .5rem;
  color: var(--primary-red);
}

.hyper-link {
  cursor: pointer;
  color: var(--primary-red);
}

.hyper-link:hover {
  color: var(--primary-black);
}

@media(max-width: 768px) {
  .portfolio-image-popupbox {
    width: 100%;
  }
}

@media(max-height: 500px) {
  .popupbox-wrapper {
    height: 100%;
  }

  .portfolio-image-popupbox {
    width: 55%;
  }
}

@media(max-height: 280px) {
  .popupbox-wrapper {
    height: 80%;
  }

  .portfolio-image-popupbox {
    width: 50%;
  }
}

/* Contacts */

.contacts {
  background: var(--primary-dark);
  padding: 4rem 0;
}

.contacts h1 {
  color: var(--primary-white);
  font-size: 42px;
  padding: 1.2rem 0;
}

.contacts p {
  color: var(--primary-white);
  font-size: 16px;
}

/* Contact Form Inputs */

.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 1px solid var(--primary-black);
  border-radius: 0;
  color: var(--primary-white);
  margin-bottom: 1rem;
  outline: 0 !important;
  box-shadow: none !important;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 3rem 0;
}

.contacts input:focus, .contacts textarea:focus {
  background: transparent;
  color: var(--primary-white);
  border-bottom: 1px solid var(--primary-black);
}

.contacts textarea {
  height: 12rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  font-size: 16px;
  border: 1px solid var(--primary-white);
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 50px 12px 50px;
  color: var(--primary-white);
  margin-top: 16px;
}

.contact-btn:hover {
  text-decoration: none;
  border: 1px solid var(--primary-red);
  background-color: var(--primary-red);
  color: var(--primary-white);
  transition: .5s ease-in-out;
}

.line {
  position: relative;
  top: -.7rem;
  width: 0;
  height: 2px;
  background: var(--primary-white);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width .5s ease-in-out;
}

input.form-control {
  margin: -.3rem 0;
}

textarea.form-control {
  margin: -.3rem 0;
}

@media(max-width: 768px) {
  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0 4rem;
  }
}

/* Footer */
.footer {
  background: var(--primary-black);
  color: var(--primary-dark);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: var(--primary-dark);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-red);
  cursor: pointer;
}

.footer p { 
  margin-bottom: 0;
}